* {
  font-family: Verdana, 'Trebuchet MS', sans-serif;
}

li {
  list-style-type: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  overflow-y: hidden;
}

header {
  display: flex;
  border-bottom: 1px solid rgb(214, 214, 214);
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.06);
  z-index: 3;
}

.primary {
  background-color: rgb(2, 86, 254);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  margin: 5px;
  text-decoration: none;
}

.secondary {
  border: 1px solid rgb(2, 86, 254);
  background-color: rgb(255, 255, 255);
  color: rgb(2, 86, 254);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  margin: 5px;
  text-decoration: none;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
    url('../images/flowing-purple-mountain-spiral-bright-imagination-generated-by-ai.jpg');
  background-size: cover;
  background-position: center;
}

.main-info-container {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 60px;
  width: 450px;
  text-align: center;
}

.main-info-container h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.main-info-container .disclaimer {
  font-size: 12px;
  color: rgb(126, 126, 126);
}

.main-info-container .button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.main-info-container .button-container button {
  margin: 5px;
  width: 350px;
}

/* card styling */

.card {
  display: flex;
  border-bottom: solid 1px rgb(214, 214, 214);
  padding: 10px;
}

.card p {
  font-size: 13px;
}

.card .img-container {
  height: 100px;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}

.card .img-container img {
  height: 130%;
}

.card-link {
  text-decoration: none;
  color: rgb(24, 24, 24);
}

.card .text-container,
.card .decription-container {
  width: 200px;
  margin: 10px;
}

.card .info-container {
  display: flex;
  width: 400px;
  border-right: solid 1px rgb(214, 214, 214);
  margin: 10px;
}

.card h3,
.card p {
  margin: 0;
}

/* Search Bar */

.search-input {
  position: absolute;
  width: 100%;
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  border: solid 1px rgb(219, 219, 219);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);

}

.search-bar-container {
  position: relative;
  width: 400px;
  height: 40px;
  margin-right: 400px;
}

.search-bar-container svg {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 430px;
}

.item-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

/* Service Page */

.service-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: scroll !important;
}

.service-container .info-container {
  width: 700px;
  padding: 5px;
}

.service-container .address-container {
  width: 300px;
  padding: 5px;
}

.service-container .schedule-card-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  cursor: pointer;
  border-bottom: solid 1px rgb(255, 255, 255);
  border-radius: 3px;
}

.service-container .main-img-container {
  width: 700px;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
}

.service-container .main-img-container img {
  height: 150%;
}

/* Nav */

nav {
  display: flex;
}

nav p {
  font-size: 14px;
}

nav button.login {
  border: none;
  padding: 10px;
  background-color: transparent;
}

nav button.login:hover {
  background-color: rgb(241, 241, 241);
}

.item-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

/* Mini Map */

.mini-map-container {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.mini-map-container div {
  width: 100%;
  height: 100%;
}

.mapboxgl-compact {
  display: none;
}

/* Map */

.map-container {
  height: 100vh;
  width: 50vw;
}

.map-container div {
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
}

.results-container {
  width: 50vw;
  overflow: scroll !important;
}